.wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.nav-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.nav-list {
  flex: 10;
}
.nav-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.nav-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .nav-list {
    display: none;
  }
}
